/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

img {
    width: 100%;
}

div#gopher {
	background: url(koroks.png) no-repeat;
	background-position: center top;
	height: 155px;
}

a {
	color: rgba(0,0,0,.65);
}


.pre-x-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
}
